body{
    margin: 0;
    padding: 0;
    min-height: 10vh;
    display: grid;
    place-items: center;
    background-color: rgba(0, 0, 139, 0.37);
}

h1{
    font-family: arial, sans-serif;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}


.cell{
    border: 2px solid #fff;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.tictactoe-game{
    display: grid;
    grid-template-columns:repeat(3 ,1fr);
    font-size: 3em;
}

.buttons{
    padding-top: 25px;
    padding-bottom: 20px;
    text-align: center;
}

#btn-restart{
    font-size: larger;
    background-color: cornflowerblue;
}

.cross::before {
    content: "⨯";
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.circle::before {
    content: "\26AB";
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}